
<app-navbar class="shadow"
        (isCheckedChange)="isCheckedChange($event)"
       
        [sideClosed]="sideClosed"
        [trye]="trye">
    </app-navbar>
    <div class="main-sidebar" style="min-height: 100vh; position: relative;" >
        <div class="divtest" style="position: absolute; height: 20vh;  width: 100%; 
                background: #02c6f2;" >
                <ul class="d-flex gap-3" style="margin-left: 280px;">
                    <li *ngFor="let url of routeUrl" class="test" style="margin-top: 20px;">
                        <a [routerLink]="[goto]"></a>
                        {{url}}
                    </li>

                </ul>
        </div>
         <app-side-bar
            style="height: 100%;"
           
            (calltry)="try($event)">
        </app-side-bar> 
    
        <div  id="zz" 
            style=" 
            transition: margin-left .5s linear; 
             margin-left: 280px; ">
             
            <div class="innermain" style=" border: 1px solid red; margin:60px 0px 20px 0px "  >
               
               <!--  <app-home></app-home> -->
               <router-outlet (activate)="scrollTop()"></router-outlet>

            </div>
              
        </div>
</div>


