
<ejs-sparkline   
height='150px' width="100%"  [dataSource]="data" type="{{type}}"
 xName="xval" yName="yval"
 
 >
</ejs-sparkline>

<!--  <div class="control-section">
    <div id="spark-container" class="row">
        <div class="cols-sample-area" align="center" style="margin-top: 8%;">
            <div align="center" class="col-lg-4 col-md-6 col-sm-12 col-xs-12 sparent">
                <div class="spark" align="center">
                    <ejs-sparkline  width='200px' 
                        height='150px' [dataSource]="data" type="Column"
                        xName="xval" yName="yval"
                        style="z-index: 9999999 !important;"
                        >
                    </ejs-sparkline>
                </div>
            </div>

           
        </div>
    </div>
</div> --> 