<!-- <ejs-chart id='chart-container' [primaryXAxis]="xAxis">
    <e-series-collection>
        <e-series type='Line' [dataSource]='data' xName='month' yName='sales'>

        </e-series>
    </e-series-collection>
</ejs-chart> -->
<ejs-chart style="display:block"  isResponsive="true" [chartArea]="chartArea" [primaryXAxis]='primaryXAxis' [primaryYAxis]='primaryYAxis' [palettes]="palette"
     [tooltip]='tooltip' height='{{height}}' width="100%" >
        <e-series-collection>   
            <e-series  [dataSource]='chartData' type='{{type}}' xName='month' yName='sales' width="3px"></e-series>
<!--             <e-series [dataSource]='chartData2' type='Line' xName='month' yName='sales' name='Sales2' ></e-series>
 -->
        </e-series-collection>
      
    </ejs-chart>
