<!-- <ejs-chart id='chart-container' [primaryXAxis]="xAxis">
    <e-series-collection>
        <e-series type='Line' [dataSource]='data' xName='month' yName='sales'>

        </e-series>
    </e-series-collection>
</ejs-chart> -->
<ejs-chart  [primaryXAxis]='primaryXAxis' [primaryYAxis]='primaryYAxis'
    [legendSettings]='legendSettings' [tooltip]='tooltip' [title]='title'>
        <e-series-collection>
            <e-series [dataSource]='chartData' type='Line' xName='month' yName='sales' name='Sales' [marker]='marker'></e-series>
            <e-series [dataSource]='chartData2' type='Line' xName='month' yName='sales' name='Sales2' [marker]='marker'></e-series>

        </e-series-collection>
      
    </ejs-chart>
